<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      <h1>New Contact</h1>

      <div class="form-group">

        <%= render 'form' %>

        <%= link_to 'Back', contacts_path %>

        </div>
      </div>
    </div>
</div>
